body{
    background-color: rgba(255, 228, 196, 0.575);
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}
p{
    padding: 2%;
    
    text-align: center;
}

img{
    
    box-shadow: 2px 5px 2px 5px 1px green;
}
